.App {
  text-align: center;
  margin: 20px auto;
}

.content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.groups {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
}

.group-card {
  margin-top: 10px;
  border: 1px solid gainsboro;
  padding: 10px;
  width: 300px;
  min-height: 250px;
  border-radius: 5px;
  text-align: left;
}

.group-card .friends {
  padding: 5px;
  text-align: center;
  background-color: gainsboro;
  min-height: 70px;
  border-radius: 5px;
}

.group-card .header {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gainsboro;
  justify-content: center;
}

.group-card h1 {
  margin-top: 0;
  margin-left: 10px;
}

.group-card .logo {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: black;
  border: 1px solid black;
}
